/*
Fundo principal: #0B0B0F
Roxo destaque: #8A2BE2
Texto principal: #FFFFFF
Texto secundário: #A0A0A0
Preto forte: black
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0b0b0f;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cabecalho{
    background-color: black;
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid #8a2be2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo{
    font-size: 40px;
    color: #8a2be2;
}

.fotologo img{
    width: 15%;
}

.bio{
    text-align: center;
    padding: 30px 20px;
}

.bio h2{
    font-size: 42px;
    margin-bottom: 20px;
}

.bio p{
    color: #a0a0a0;
    font-size: 18px;
    margin-bottom: 50px;
}

.botao {
    background-color: #8A2BE2;
    color: black;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s ease;
}

.botao:hover{
    color: white;
    background-color: #6a1bbe;
    transform: translateY(-3px);
}

.albuns{
    padding: 30px 230px;
    text-align: center;
}

.albuns h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.lista-albuns{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.album{
    background-color: black;
    width: 250px;
    padding: 25px;
    border-radius: 15px;
    margin: 15px;
    cursor: pointer;
    transition: 0.2s ease;
}

.album img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.album:hover{
    transform: translateY(-10px) scale(1.3,1.3);
    border: 1px solid #8A2BE2;
}

.sobre {
    background-color: black;
    padding: 80px 20px;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #8A2BE2;
    border-bottom: 1px solid #8A2BE2;
}

.contato {
    padding: 80px 10%;
    color: #8A2BE2;
}

.contato h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.formulario-contato {
    max-width: 600px;
    margin: auto;
    background: black;
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #8A2BE2;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.formulario-contato input,
.formulario-contato textarea {
    background: #111;
    border: 1px solid #333;
    color: white;
    padding: 14px;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

#endereco {
    color: #777;
    font-size: 0.85rem;
    margin: 0;
}

.formulario-contato .botao {
    margin-top: 20px;
    background: #8a2be2;
    color: black;
    border: none;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.formulario-contato .botao:hover {
    background-color: #6a1bbe;
    transform: translateY(-3px);
    color: white
}